<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atselgi.atselgi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:theme="@style/Theme.Ats" >
        <activity
            android:name="com.atselgi.atselgi.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atselgi.atselgi.ProductsActivity"
            android:label="@string/title_activity_products"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atselgi.atselgi.wheelservice.WheelServiceActivity"
            android:label="@string/title_activity_wheel_service"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atselgi.atselgi.wheelservice.WheelAlignerActivity"
            android:label="@string/title_activity_wheel_aligner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atselgi.atselgi.wheelservice.D3WheelAlignerActivity"
            android:label="@string/title_activity_d3_wheel_aligner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atselgi.atselgi.wheelservice.ElegantXPActivity"
            android:label="@string/title_activity_elegant_xp"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>